<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

    <title>Sebo dos Games</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="icon" type="imagem/png" href="/img/icon.png" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/config/jquery.min.js">
    var carrinho = 0;
    var input = document.getElementById("#qtdCarrinho");
    input.value =carrinho;

   
            item = $("<tr><td><img src='https://dummyimage.com/50x50/55595c/fff'/> </td><td>Product Name Dada</td><td>In stock</td><td class='text-right'>124,90 €</td><td class='text-right'><button class='btn btn-sm btn-danger'><i class='fa fa-trash'></i> </button> </td></tr>");      
            $(document).ready(function(){
            $("#qtdCarrinho").html(carrinho)

        });


        </script>
</head>

<body>
    <header>

 
        <div role="navigation" class="border shadow-lg p-3 mb-5 bg-primary rounded">
        <img class="logo" src="img/logo.png" alt="logo">

            <ul class="nav justify-content-end">
                <li class="nav-item">
                        <a class="nav-link  text-white" href="/"> Home </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link  text-white" href="/sobre"> Sobre </a>
                </li class="nav-item">
                <li><a class="nav-link  text-white" href="/contato"> Fale Conosco </a></li>
            </ul>
            <P class="h1  text-white">JOGOS E VIDEOGAMES USADOS</P>
            <a class="btn btn-success btn-sm ml-3" href="/carrinho">
                    <i id="botaoCart"class="fa fa-shopping-cart"></i> Carrinho
                    <span id="qtdCarrinho"class="badge badge-light">0</span>
            </a>   
    </div>

    </header>
    <main>
        <div class="container">

            <%- body %>

        </div>
    </main>
    
    <footer class="text-white bg-primary text-center border shadow-sm p-3 mb-5 rounded">
        <div class="">
            <a class="sebo-link" href="/">SEBO DOS GAMES </a>, Copyright &copy; 2019
        </div>
    </footer>

</body>
</html>