<% for (var i=0; i<listaDeProdutosNoCarrinho.length; i++){ %>    
<td><%=listaDeProdutos[i].imagem%></td>
<td><%=listaDeProdutos[i].Titulo%></td>
<td class='text-right'><%=listaDeProdutos[i].Preco%></td>
<td class='text-right'><button class='btn btn-sm btn-danger'>
        <i class='fa fa-trash'></i> 
</button> </td>
</tr>
<%} %>